<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Mi primera aplicación Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    
      <div class="sidebar">
        <div class="logo-details">
          <i class="bx bxl-c-plus-plus icon"></i>
          <div class="logo_name">CodingLab</div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
           <li>
            <a href="#" class="category-link" data-category="Bebidas">
              <i class="bx bx-coffee-togo"></i>
              <span class="links_name">Bebidas</span>
            </a>
            <span class="tooltip">Bebidas</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Belleza">
              <i class="bx bx-happy-beaming"></i>
              <span class="links_name">Belleza</span>
            </a>
            <span class="tooltip">Belleza</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Charcuteria">
              <i class="bx bx-dish"></i>
              <span class="links_name">Charcuteria</span>
            </a>
            <span class="tooltip">Charcuteria</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Ropa y Calzado">
              <i class="bx bx-gift"></i>
              <span class="links_name">Ropa y Calzado</span>
            </a>
            <span class="tooltip">Ropa y Calzado</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Ciudado Personal">
              <i class="bx bx-diamond"></i>
              <span class="links_name">Ciudado Personal</span>
            </a>
            <span class="tooltip">Ciudado Personal</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Lacteos y refrigerados">
              <i class="bx bx-vial"></i>
              <span class="links_name">Lacteos y refrigerados</span>
            </a>
            <span class="tooltip">Lacteos y refrigerados</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Panaderia">
              <i class="bx bx-baguette"></i>
              <span class="links_name">Panaderia</span>
            </a>
            <span class="tooltip">Panaderia</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Vinos y Licores">
              <i class="bx bx-drink"></i>
              <span class="links_name">Vinos y Licores</span>
            </a>
            <span class="tooltip">Vinos y Licores</span>
          </li>
          <li>
            <a href="#" class="category-link" data-category="Todos">
              <i class="bx bx-drink"></i>
              <span class="links_name">Todos</span>
            </a>
            <span class="tooltip">Todos</span>
          </li>
        </ul>
      </div>

      <section class="home-section">
        <div id="main">

            <div class="input-container">
                <i class="bx bx-search"></i>
                <input type="text" id="search-input" placeholder="Search..." />
            </div>  
            <!-- Contenido principal de tu aplicación -->
            <h1>Bienvenido a mi aplicación Flask</h1>
        
            <div class="card-container">
                {% for producto in productos %}
                <div class="card" data-category="{{ producto[4] }}">
                    <img src="{{ producto[6] }}" alt="{{ producto[1] }}">
                    <h3>{{ producto[1] }}</h3>
                    <p>Código: {{ producto[0] }}</p>
                    <p>Precio: {{ producto[2] }}</p>
                    <a href="{{ url_for('recomendacion', producto_id=producto[0]) }}">Ver más</a>
                    <!-- Agrega más campos de datos según sea necesario -->
                </div>
                {% endfor %}
            </div>
        </div>
      </section>
    
    
    
    <script>
        /* Funciones para abrir y cerrar el menú */
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
        });

        searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
        if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        }else {
        closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
        }
        }

        // Obtener el elemento de entrada de búsqueda
        var searchInput = document.querySelector("#search-input");

        // Escuchar el evento de cambio en el campo de búsqueda
        searchInput.addEventListener("input", function() {
        // Obtener el valor actual del campo de búsqueda
        var searchText = searchInput.value.trim().toLowerCase();

            // Obtener todas las tarjetas de productos
            var cards = document.querySelectorAll(".card");

            // Mostrar o ocultar las tarjetas de productos según el texto de búsqueda
            cards.forEach(function(card) {
                var productName = card.querySelector("h3").textContent.toLowerCase();
                if (productName.includes(searchText)) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });
        });

  var categoryLinks = document.querySelectorAll(".category-link");

// Agregar un controlador de eventos a cada enlace de categoría
categoryLinks.forEach(function(link) {
  link.addEventListener("click", function(event) {
    event.preventDefault();

    // Obtener el nombre de la categoría del enlace seleccionado
    var selectedCategory = link.dataset.category.toLowerCase();

    // Obtener todas las tarjetas de productos
    var cards = document.querySelectorAll(".card");

    // Mostrar u ocultar las tarjetas de productos según la categoría seleccionada
    cards.forEach(function(card) {
      var cardCategory = card.dataset.category.toLowerCase();
      if (selectedCategory === "todos" || cardCategory === selectedCategory) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }
    });
  });
});


    </script>
</body>

</html>