<!DOCTYPE html>
<html>
<head>
    <title>Recomendación</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recomendaciones_style.css') }}">
</head>
<body>
    <h1>Producto Seleccionado:</h1>
 
    <div class="contenedor">

        <div>

            <img src="{{ producto_seleccionado.url }}" >
            <h2>{{ producto_seleccionado.name }}</h2>
            <p>Código: {{ producto_seleccionado.id }}</p>
            <p>Precio: {{ producto_seleccionado.price }}</p>
        </div>
    </div>
    <h2>Recomendaciones:</h2>
    <ul>
        <div class="card-container">
            {% for recomendacion in recomendaciones %}
            <div class="card">
                <img src="{{ recomendacion[6] }}" alt="{{ recomendacion[1] }}">
                <h3>{{ recomendacion[1] }}</h3>
                <p>Código: {{ recomendacion[0] }}</p>
                <p>Precio: {{ recomendacion[5] }}</p>
            </div>
            {% endfor %}
        </div>
    </ul>
    <div class="contenedor-grafico">
        <img src="data:image/png;base64,{{ graph_data }}" alt="Graph">
    </div>
</body>
</html>