<!DOCTYPE html>
<html>
<head>
    <title>Recomendación</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recomendaciones_style.css') }}">
</head>
<body>
    <h1>Producto Seleccionado:</h1>
 
    <div class="contenedor">
        <div class="producto-seleccionado">
            <img src="{{ producto_seleccionado.url }}" >
            <div class="especificaciones">
                <h3>Especificaciones</h3>
                <hr>
                <div class="especificacion">
                    <span>Precio:</span>
                    <span>{{ producto_seleccionado.price }}</span>
                </div>
                <div class="especificacion">
                    <span>Cantidad:</span>
                    <span>{{ producto_seleccionado.quantity }}</span>
                </div>
                <div class="especificacion">
                    <span>Categoria:</span>
                    <span>{{ producto_seleccionado.category }}</span>
                </div>
                <div class="especificacion">
                    <span>Marca:</span>
                    <span>{{ producto_seleccionado.brand }}</span>
                </div>
                <div class="especificacion">
                    <span>Código:</span>
                    <span>{{ producto_seleccionado.id }}</span>
                </div>
            </div>
        </div>
    </div>
    <h2 class="recomendaciones">Recomendaciones:</h2>
    <ul>
        <div class="card-container">
            {% for recomendacion in recomendaciones %}
            <div class="card">
                <img src="{{ recomendacion[6] }}" alt="{{ recomendacion[1] }}">
                <h3>{{ recomendacion[1] }}</h3>
                <p>Código: {{ recomendacion[0] }}</p>
                <p>Precio: {{ recomendacion[5] }}</p>
            </div>
            {% endfor %}
        </div>
    </ul>
    <h1>Grafo de los productos recomendados</h1>
    <div class="contenedor-grafico">
        
        <img src="data:image/png;base64,{{ graph_data }}" alt="Graph">
    </div>
</body>
</html>
